
body {
  font-family: Arial, sans-serif;
  background-color: #E3F2FD;

}


#main-conntent {
  /* flex-grow: 1; */
 
  /* display: flex; */
  /* width: 60vw; */
   height: 100vh;
   width: 75vw;
  /* padding: 20px; */

}

#heaader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#0066b2;
  padding: 20px;
  width: 78vw;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
  
}
#header-info{
  width: 70vw;
 padding: 5px;
 
}
#header-info h2 {
  margin-bottom: 5px;
  color: black;
  margin: 10px;
  font-weight: 900;
}
#header-info p {
  margin-bottom: 5px;
  color: black;
  font-weight: 900;
  margin: 10px;
}
#edit-btn {
  background-color:white;
  color: #041b30;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  
}  
#professional-info{
  margin: 30px;
  margin-bottom:20px ;
  border-radius: 8px;
  background-color:white;
  width: 78vw;
  margin-left: 0  ;
  padding: 20px;
  border: 2px solid gray  ;
}

#academic-contributions {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
  margin: 30px;
  margin-left: 0;
  background-color:#28a745;
  width:70vw;
 
}
#h3{
  display: inline-block;
  font-weight: 900;
}
.specialization {
  background-color:#28a745;

  color: black;
  padding: 2px 5px;
  border-radius: 10px;
  margin: 20px;
 border: none;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
  width: 75vw;
  
}

.tab {
  background-color: white;
  color:black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 5); 
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;  
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }


  .main-content {
    padding: 10px;
  }
}
.research-item {
  margin: 50px;
  background-color: #E3F2FD;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 5px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* .research{
  width: 70vw
} */